<div class="jumbotron-mt-4">
    <h1 class="display-4" >Notes app NodeJs & MongoDB</h1>
    <p class="lead"> Me gusta el arte </p>
    <hr class="my-4">
    <p>hola que tal este es un texto de prueba, hola que tal este es un texto de prueba, hola que tal este es un texto de prueba
        hola que tal este es un texto de prueba, hola que tal este es un texto de prueba
    </p>
    <a href="https://www.linkedin.com/in/alan-bertinat/" class="btn btn-primary btn-lg"> Mi linkedin</a>
</div>