<div type="form">
    <p>Iniciar sesión</p>
    <label for="signup"> E-mail</label>
    <input type="text">
    <label for="signup"> Contraseña</label>
    <input type="password">
    <button type="submit"> Ingresar</button>
</div>