<div type="form">
    <p>Registrarse manualmente</p>
    <label for="signup"> E-mail</label>
    <input type="text">
    <label for="signup"> Contraseña</label>
    <input type="password">
    <button type="submit"> Registrarse</button>
</div>